<html>
    <head>
    </head>
    <header>
    <%= render 'list', users: @users %>
    </header>


    <body>


    <main>
         <ul>
            <% @books.each do |book| %>
            <li>
              <strong><%= book.title %></strong>

            </li>
            <% end %>
          </ul>





</main>
</body>
</html>





